 .error,  .notice,  .success {padding:1em 0 1em 3em;margin:2em;border:2px solid #ddd;}
 .error {background:#FBE3E4 url(../images/icons/cross.png) no-repeat 1em 1em;;color:#8a1f11;border-color:#FBC2C4;}
 .notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
 .success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
 .error a {color:#8a1f11; background:none; padding:0; margin:0; }
 .notice a {color:#514721; background:none; padding:0; margin:0; }
 .success a {color:#264409; background:none; padding:0; margin:0; }
 .center {text-align: center;}

